body
    p User ID: #{user.id}
    p Benutzername: #{user.username}
    p Permissions: #{JSON.stringify(reqUser.permissions)}
    p JWT-Token Inhalt: #{reqUser.jwtToken}
    p Avatar Url: #{user.avatarUrl}